<html>
    <head>
    <title>Reddit</title>
    <link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>
    </head>
    <body>
        <div id="wrapper">
                <div name="headnav" id="headnav1">
                    <div class="dropdown">
                        <button id="mysubscription" onclick="myFunction()" class="dropbtn">MY SUBSCRIPTIONS</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/subreddits">EDIT SUBSCRIPTIONS</a>
                        </div>
                    </div>
                
                    <script>
                         /* When the user clicks on the button,
                         toggle between hiding and showing the dropdown content */
                         function myFunction() {
                             document.getElementById("myDropdown").classList.toggle("show");

                         // Close the dropdown if the user clicks outside of i                                window.onclick = function(event) {
                            if (!event.target.matches('.dropbtn')) {

                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                var i;
                                for (i = 0; i < dropdowns.length; i++) {
                                  var openDropdown = dropdowns[i];
                                  if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                  }
                                }
                            }
                         }
                    </script>

                    <div class="sidelist">
                        <form action='/' method='POST'>
                            <a href="/popular">POPULAR</a>
                            <span class="separator">-</span>
                            <a href="/all">ALL</a>
                            <span class="separator">-</span>
                            <a href="/random">RANDOM</a>
                            <span class="separator">-</span>
                            <a href="/users">USERS</a>
                            <span class="separator">|</span>
                            <a href="/askreddit">ASKREDDIT</a>
                            <span class="separator">-</span>
                            <a href="/funny">FUNNY</a>
                            <span class="separator">-</span>
                            <a href="/pics">PICS</a>
                            <span class="separator">-</span>
                            <a href="/worldnews">WORLDNEWS</a>
                            <span class="separator">-</span>
                            <a href="/videos">VIDEOS</a>
                            <span class="separator">-</span>
                            <a href="/movies">MOVIES</a>
                            <span class="separator">-</span>
                            <a href="/telivision">TELIVISION</a>
                            <span class="separator">-</span>
                            <a href="/jokes">JOKES</a>
                            <span class="separator">-</span>
                            <a href="/subreddits">more >></a>
                        </form>
                    </div>
                </div>



                <div class="headcategory">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1200px-Reddit_logo_and_wordmark.svg.png" width="140" height="53">
                    <div id="navbar">
                        <ul class="tabmenu ">
                        <li class="selected"><a href="/" class="choice">hot</a></li>
                        <li><a href="/" class="choice">new</a></li>
                        <li><a href="/" class="choice">rising</a></li>
                        <li><a href="/" class="choice">controversial</a></li>
                        <li><a href="/" class="choice">top</a></li>
                        <li><a href="/" class="choice">gilded</a></li>
                        <li><a href="/" class="choice">wiki</a></li>
                        </ul>
                    </div>
                </div>

<!--dash -->
            <div id="dash" name="dash">
                <!--topmenu  -->
                <div><p>Popular in: <a href="">United States</a>&nbsp;Select state: <a href="">California</a></p></div>
                <!--contents starts from recommended -->
                    <div class="content1">
                        <div class="midcol unvoted">
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>
                        </div>
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by hours ago. by </p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">promoted</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>
                    </div>
                <!--contents starts from 1-25 -->
                    {% for subpost in all_subposts: %}
                    <div class="postcontent"><span>25</span>
                      <h3>{{subpost['text']}}</h3>
                      <p>submitted on {{subpost['created_at']}} by {{subpost['username']}} to {{subpost['url']}}</p>
                    {% endfor %}
                        <div class="midcol unvoted">
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by hours ago. by</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>
                    </div>

                <!--the end of 25 contents  -->

                    <div><span>view more:</span><span><a href="/">next></a></span></div>

            </div>

            <!--search  -->
            <div id ="sidepanel">

                <div name="search" id= "search" class="rightside">
                    <form action="/search" method="post">Search: <input type="text" name="search">
                        <input type="submit" name="Search">
                    </form>
                </div>
                <div id = "side" name="side">
                    <div name="login" id="login" class="rightside">
                        <h4>Already have an account? Sign in here!</h4>
                        <form action="/login" method="post">
                            Username:<br><input type="text" name="username"><br>
                            Password:<br><input type="password" name="password"><br>
                            <button class='btn' type='submit'>Login</button>
                        </form>
                    </div>
                    <div id="rememberme" class="rightside">
                        <!--  AD plans on adding functionality for this button -->
                        <input type="checkbox" name="rememberme" id="rem">
                        <label for='rem'>remember me</label>
                        <a href="/reset"> reset password</a>
    
                    </div>
                </div>

<!--registrationform   -->

                <div id = "registrationform">
                    <h4>Don't have an account? Sign up here!</h4>
                    <form action="/create" method="post" id="regi_info">Username:<br> 
                        <input name = "username", type="text"><br>Password:<br>
                        <input name = "password", type="text"><br>Confirm password:<br>
                    <input name = "confirmpassword", type="text"><br>
                        <input type="submit" value= "Register">
                    </form>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div id="new_post" >
                    <form action="/post" method="post"><input type="submit" value= "Submit a new text post" id="add_post_btn"></form>
                </div>
             </div>
<!--extra  -->
            <div class="extra">
                <div class="firstimage">
                    <img class="img1" src="https://d3c5s1hmka2e2b.cloudfront.net/uploads/topic/image/5/CD_Logo1.png" height="150" width="150">
                </div>
                <div class="secondimage">
                    <img class="img2" src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/11/Coding-Dojo-Cohort33.png" height="150" width="150">
                </div>
            </div>

            <div name="footer" id= "footer">

                <div class="col">
                    <ul>
                        <li>about</li>
                        <li><a href="https://www.reddit.com/blog/" class="choice">blog</a></li>
                        <li><span class="separator"></span><a href="https://about.reddit.com/" class="choice">about</a></li>
                        <li><span class="separator"></span><a href="https://www.reddit.com/advertising/" class="choice">advertise</a></li>
                        <li><span class="separator"></span><a href="https://www.reddit.com/careers/" class="choice">careers</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>help</li>
                        <li><a href="https://www.reddit.com/rules/" class="choice">rules</a></li>
                        <li><span class="separator"></span><a href="https://about.reddit.com/" class="choice">FAQ</a></li>
                        <li><span class="separator"></span><a href="https://www.reddit.com/wiki/" class="choice">wiki</a></li>
                        <li><span class="separator"></span><a href="https://www.reddit.com/contact/" class="choice">contact us</a></li>
                    </ul>
                </div>


                <div class="col">
                     <ul>
                         <li>apps & tools</li>
                         <li><a href="https://www.reddit.com/rules/" class="choice">Reddit for iphone</a></li>
                         <li><span class="separator"></span><a href="https://about.reddit.com/" class="choice">Mobile Website</a></li>
                     </ul>
                </div>

                <div class="col">
                    <ul>
                        <li>reddit gold</li>
                        <li>redditgifts</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>