<html>
    <head>
    <title>Reddit</title>
    </head>
    <body>
        <h1>Reddit</h1>
        <div id="wrapper">
                <div name="headnav">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">MY SUBSCRIPTIONS</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/subreddits">EDIT SUBSCRIPTIONS</a>
                        </div>
                    </div>

                    <script>
                         /* When the user clicks on the button,
                         toggle between hiding and showing the dropdown content */
                         function myFunction() {
                             document.getElementById("myDropdown").classList.toggle("show");

                         // Close the dropdown if the user clicks outside of i                                window.onclick = function(event) {
                            if (!event.target.matches('.dropbtn')) {

                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                var i;
                                for (i = 0; i < dropdowns.length; i++) {
                                  var openDropdown = dropdowns[i];
                                  if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                  }
                                }
                            }
                         }
                    </script>

                    <div class="sidelist">
                        <form action='/' method='POST'>
                            <a href="/popular">POPULAR</a>
                            <span class="separator">-</span>
                            <a href="/all">ALL</a>
                            <span class="separator">-</span>
                            <a href="/random">RANDOM</a>
                            <span class="separator">-</span>
                            <a href="/users">USERS</a>
                            <span class="separator">|</span>
                            <a href="/askreddit">ASKREDDIT</a>
                            <span class="separator">-</span>
                            <a href="/funny">FUNNY</a>
                            <span class="separator">-</span>
                            <a href="/pics">PICS</a>
                            <span class="separator">-</span>
                            <a href="/worldnews">WORLDNEWS</a>
                            <span class="separator">-</span>
                            <a href="/videos">VIDEOS</a>
                            <span class="separator">-</span>
                            <a href="/movies">MOVIES</a>
                            <span class="separator">-</span>
                            <a href="/telivision">TELIVISION</a>
                            <span class="separator">-</span>
                            <a href="/jokes">JOKES</a>
                            <span class="separator">-</span>
                            <a href="/subreddits">more >></a>
                        </form>
                    </div>
                </div>



                <div name="headcategory">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1200px-Reddit_logo_and_wordmark.svg.png" width="100" height="35">
                    <div id="navbar"><a href="/">reddit.com</a>&nbsp;
                        <ul class="tabmenu ">
                        <li class="selected"><a href="/" class="choice">hot</a></li>
                        <li><a href="/" class="choice">new</a></li>
                        <li><a href="/" class="choice">rising</a></li>
                        <li><a href="/" class="choice">controversial</a></li>
                        <li><a href="/" class="choice">top</a></li>
                        <li><a href="/" class="choice">gilded</a></li>
                        <li><a href="/" class="choice">wiki</a></li>
                        </ul>
                    </div>
                    <div><p><a href="http://localhost:5000/logout">Log out</a></p></div>
                </div>



<!--dash -->
            <div name="dash">
                <!--topmenu  -->
                <div><p>Popular in: <a href="">United States</a>&nbsp;Select state: <a href="">California</a></p></div>
                <!--contents starts from recommended -->
                    <div class="postcontent"><img src="/">
                        <div class="midcol unvoted">
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by hours ago. by </p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">promoted</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>
                    </div>
                <!--contents starts from 1-25 -->
                    {% for subpost in all_subposts: %}
                    <div class="postcontent"><span>25</span>
                      <h3>{{subpost['text']}}</h3>
                      <p>submitted on {{subpost['created_at']}} by {{subpost['username']}} to {{subpost['url']}}</p>
                    {% endfor %}
                        <div class="midcol unvoted">
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by hours ago. by</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>
                    </div>

                <!--the end of 25 contents  -->

                    <div><span>view more:</span><span><a href="/">next></a></span></div>

            </div>
<!--dash-->
            <div name="side">
                    <div name="search">
                       Search: <form action="/search" method="post">
                            <input type="text" name="search">
                            <input type="submit" name="Submit">
                        </form>
                    </div>

            </div>

            <div name="extra"></div>
            <div name="footer"></div>
        </div>
    </body>
</html>
